* {
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
}

.header,
.hero {
    background-color: #1f2937;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    align-items: center;
}

.hero-text {
    width: 370px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.img-hero {
    height: 200px;
    width: 400px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
}

.hero-main,
.hero-secondary,
.button-hero {
    margin-top: 10px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 70px;
}

.img-container {
    display: flex;
    gap: 50px;
    margin-top: 70px;
    justify-content: center;
}

.img-info {
    width: 170px;
    height: 200px;
}

img {
    width: 170px;
    height: 150px;
}

.quote-bar {
    background-color: #E5E7Eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 400px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    width: 800px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.thor {
    align-self: flex-end;
    font-weight: bold;
}

.call-container {
    margin: 80px auto;
    color: #f9faf8;
    background-color: #3882f6;
    display: flex;
    width: 900px;
    padding: 50px 100px;
    border-radius: 8px;
    justify-content: space-around;
}

.bold {
    font-weight: bold;
}

.call-container button {
    border: solid #f9faf8 2px;
    width: 150px;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
